.container{
    display: grid;
    grid-column: 1;

    border-radius: 10px;
    
    
    background-color: #f4f5f8;
    /* width: 600px; */
    color: black;
    padding: 20px;
    border: 2px solid red;
    margin-bottom: 15px;
}

.top{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    color: #a6a9ad;
    font-weight: 600;
}

.title{
    display: flex;
    flex-wrap: wrap;
}