.HeadTop{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.headUserIcon{
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}

.activeHead{
    background-color: orange;
    width: 10px;
    height: 10px;
    position: relative;
    top: 1px;
    left: -20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: -15px;
    margin-right: -20px;
}

.inactiveHead{
    background-color: #a6a9ad;
    width: 10px;
    height: 10px;
    position: relative;
    top: 1px;
    left: -20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: -15px;
    margin-right: -20px;
}

.left{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
    color: #f4f5f8;
    .title{
        color: black;
        font-weight: bold;
    }
    .number{
       color: #8c8f94;
       font-weight: 600;
    }
}

.right{
    display: flex;
    flex-direction: row;
    gap: 15px;

    .plus{
        color: #8c8f94;
    }

    .threeDot{
        color: #8c8f94;
        font-weight: bold;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .container{
        margin: 0px 20px;
    }
    .HeadTop{
        margin-inline:20px;
    }
    /* .HeadTop:first-child{
        margin-top: 0px;
    }

    .HeadTop:nth-child(n+2)
    {
        margin-top: -10px;
    } */
}