.container{
    z-index: 10;
    border-radius: 10px;
    /* max-height: 210px; */
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: 2px solid red; */
    margin-bottom: 15px;
    /* overflow: hidden; */
}

.top{
    background-color: #ffffff;
    height: 40px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a6a9ad;
    font-weight: 600;
}

.userId{
    background-color: #ffffff;
}

.userIcon{
    position: relative;
    right:0px;
    top:0px;
    background-color: #35383d;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;

}

.middle{
    background-color: #ffffff;
    display: flex;
    gap:10px;
    color: white;
}

.status{
    background-color: #ffffff;
}

.userTitle{
    max-height: 39px;
    background-color: #ffffff;
    color: #404348;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.active{
    z-index: 10;
    background-color: orange;
    width: 13px;
    height: 13px;
    position: relative;
    top: 14px;
    right: -16px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: -15px;
}

.inactive{
    z-index: 10;
    background-color: #a6a9ad;
    width: 13px;
    height: 13px;
    position: relative;
    top: 14px;
    right: -16px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: -15px;
}


.bottom{
    max-height: 60px;
    background-color: #fff;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    gap:10px;
}

.priority{
    background-color: #fff;
    width:25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    .urgent{
        color: white;
        background-color: #686c72;
        border-radius: 2px;
        border: 2px solid #686c72;
      }
}

.priority-color{
    color: #686c72;
}

.cir{
    background-color: #bec2c7;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.tag{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    height: 25px;
    padding: 0px 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    color: #a0a3a7;
}

.container:not(:last-child) {
    z-index: 10;
    margin-bottom: 15px;
}

.container:last-child {
    z-index: 10;
    margin-bottom: 0px;
}


@media only screen and (max-width: 767px) {
    .container{
        z-index: 10;
        margin: 0px 20px;
    }
}