*{
    box-sizing: border-box;
}

.head{
    padding: 20px 60px;

    background-color: #ffffff;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    font-weight: 700;

    padding: 8px 15px;
    border: none;
    border: 2px solid  #e7e8ea;
    border-radius: 8px;

    background-color: #ffffff;
    color: #53555a;
}

.custom-select {
    z-index: 9;

    min-width: 120px;

    background-color: #fff;
}

select {
    appearance: none;

    -webkit-appearance: none;

    width: 100%;

    font-size: 15px;
    font-weight: 600;

    padding: 4px 10px;
    border: 1px solid #caced1;
    border-radius: 0.25rem;

    background-color: transparent;
    color: #000;

    cursor: pointer;
}

.onSelect{
    z-index: 10;

    position: absolute;
    top: 65px;
    left: 60px;

    width: 300px;

    font-weight: 700;
    
    padding: 15px 20px;

    border: 1px solid #e4e4e6;
    border-radius: 10px;

    background-color: #f8f9fb;
    color: #a1a1a3;
}

.onSelectContainer{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap:15px;
}

.onSelectSubContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;

    font-size: 15px;

    background-color: transparent;
}

.pos1{
    z-index: 10;

    position: absolute;
    top:22px;
    right: 25px;

    background-color: transparent;
}

.pos2{
    z-index: 10;

    position: absolute;
    top:65px;
    right: 25px;

    background-color: transparent;
}

.body{
    margin-bottom: 100px;

    background-color: #f4f5f8;
}


@media only screen and (max-width: 767px) {
    .head{
        padding: 10px 30px;

        background-color: #ffffff;
    }

    .onSelect{
        z-index: 10;

        position: absolute;
        top: 55px;
        left: 30px;
    
        width: 250px;
        
        font-weight: 600;
        
        padding: 15px 20px;
        border: 1px solid #e4e4e6;
        border-radius: 10px;

        background-color: #f8f9fb;
        color: #a1a1a3;
    }
}