*{
  background-color: #f4f5f8;
}

.bg-white{
  background-color: white;
}

.HorizontalAlign{
  display: flex;
  overflow: scroll;
  gap: 40px;
}

.HorizontalAlign::-webkit-scrollbar {
  display: none;
}

.bg-trans{
  background-color: transparent;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.backLog{
  color: #e3e3e4;
  width: 20px;
  height: 20px;
  font-weight: bold;
}

.progress{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #f1c94b;
  background-color: #f1c94b;
}

.done{
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: #f4f5f8;
  color:#5d6ad1;
}

.todo{
  color: #e3e3e4;
  width: 22px;
  height: 22px;
  font-weight: bold;
}

.cancel{
  color:#94a2b2;
  width: 21px;
  height: 21px;
}

.urgent{
  color: white;
  background-color: #fb773f;
  border-radius: 2px;
  border: 2px solid #fb773f
}

.priority-color{
  color: #696d73;
}

@media only screen and (max-width: 767px) {
  .HorizontalAlign {
    flex-direction: column;
    gap: 0px;
  }
}